*.class

# Package Files #
*.jar
*.war
*.ear
!lib/**

.idea
*.iml
*~
/testLib/nbproject/private/
/testLib/dist/
/testLib/build/
/BOARDCOVER/nbproject/private/
/BOARDCOVER/build/
/BOARDCOVER/dist/
.gradle
